{% extends "layout.html" %}

{% block title %}
Tools
{% endblock %}

{% block main %}
<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .textarea-container {
    width: 80%;
    margin-top: 20px;
  }
  textarea {
    width: 100%;
    height: 200px;
  }
  button {
    margin-top: 10px;
  }
</style>

<div class="center">
  <h1>参数导入/导出</h1>
  <div class="textarea-container">
    <textarea id="toggleValuesBox" placeholder='在此输入或粘贴要设置的参数...'></textarea>
    <button type="button" id="retrieveButton">从OP读取参数</button>
    <button type="button" id="submitButton">写入参数到OP</button>
  </div>
</div>

<script>
  const toggleValuesBox = document.getElementById('toggleValuesBox');
  const retrieveButton = document.getElementById('retrieveButton');
  const submitButton = document.getElementById('submitButton');

  retrieveButton.addEventListener('click', function() {
    fetch('/get_toggle_values')
      .then(response => response.json())
      .then(data => {
        toggleValuesBox.value = JSON.stringify(data, null, 2);
      })
      .catch(error => console.error('读取参数失败:', error));
  });

  submitButton.addEventListener('click', function() {
    let inputData;
    try {
      inputData = JSON.parse(toggleValuesBox.value);
    } catch (error) {
      alert('输入的参数无效');
      console.error('输入的参数无效:', error);
      return;
    }

    fetch('/store_toggle_values', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(inputData),
    })
    .then(response => response.json().then(data => ({ status: response.status, body: data })))
    .then(result => {
      if (result.status === 200) {
        alert('参数写入OP成功.');
      } else {
        alert('参数写入OP失败: ' + result.body.error);
      }
    })
    .catch(error => console.error('输入的参数无效:', error));
  });
</script>
{% endblock %}
